In [1]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv(r'https://raw.githubusercontent.com/mattlibonati/Northwestern-MSDS-Capstone-2023/main/Data/final_data_segmented.csv')



data

,fips,county_name,state,attained_bachelors,attained_doctorate,attained_masters,attained_professional,black,black_homeowners,eight_rooms,...,house_price_avg_q2_2022,house_price_avg_q3_2022,house_price_avg_q4_2022,house_price_avg_q1_2023,house_price_avg_2022,Cluster_1,Cluster_2,Cluster_3,Cluster_4,Cluster_5
0,1001,Autauga County,Alabama,0.164260,0.011713,0.092114,0.013228,0.196844,0.560549,0.104427,...,2.134948e+05,2.179221e+05,2.186639e+05,2.216174e+05,2.139502e+05,2,1,8,1,0
1,1003,Baldwin County,Alabama,0.206072,0.013829,0.085716,0.018885,0.086950,0.628894,0.097632,...,3.437913e+05,3.526471e+05,3.535281e+05,3.538124e+05,3.445041e+05,2,1,16,4,1
2,1005,Barbour County,Alabama,0.067352,0.006168,0.028897,0.009114,0.472465,0.540083,0.059827,...,1.209975e+05,1.239684e+05,1.234504e+05,1.285342e+05,1.222997e+05,3,2,5,0,2
3,1007,Bibb County,Alabama,0.079467,0.004235,0.029644,0.005792,0.218856,0.597826,0.070010,...,1.616551e+05,1.662108e+05,1.652471e+05,1.700634e+05,1.626990e+05,4,0,12,5,2
4,1009,Blount County,Alabama,0.093022,0.004426,0.044556,0.007033,0.012669,0.890756,0.097077,...,1.960095e+05,1.994517e+05,1.985796e+05,2.040660e+05,1.952627e+05,4,0,8,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,Sweetwater County,Wyoming,0.124101,0.008125,0.046017,0.015674,0.011281,0.454545,0.083029,...,2.438263e+05,2.467218e+05,2.487840e+05,2.521160e+05,2.447855e+05,2,1,6,12,7
3139,56039,Teton County,Wyoming,0.382694,0.020896,0.147007,0.028088,0.007119,0.000000,0.064127,...,1.558608e+06,1.554250e+06,1.562388e+06,1.638108e+06,1.531451e+06,0,4,18,6,6
3140,56041,Uinta County,Wyoming,0.123177,0.005894,0.042847,0.007632,0.002535,0.275862,0.118608,...,2.730796e+05,2.818010e+05,2.852360e+05,2.877270e+05,2.746388e+05,2,1,17,18,4
3141,56043,Washakie County,Wyoming,0.172414,0.003319,0.072100,0.013830,0.000129,NaN,0.136648,...,2.218298e+05,2.272008e+05,2.301036e+05,2.342385e+05,2.232841e+05,2,1,6,12,2
3142,56045,Weston County,Wyoming,0.138594,0.008790,0.028209,0.008381,0.003628,0.000000,0.119499,...,2.069659e+05,2.107112e+05,2.150968e+05,2.168472e+05,2.085011e+05,4,0,3,16,5

In [10]:
data[['Cluster_1','Cluster_2','Cluster_3','Cluster_4','Cluster_5']].describe()

         Cluster_1    Cluster_2    Cluster_3    Cluster_4    Cluster_5
count  3143.000000  3143.000000  3143.000000  3143.000000  3143.000000
mean      2.112631     1.834235     8.269488     8.426344     3.251352
std       1.265028     1.279351     5.680176     5.742920     1.988144
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       1.000000     1.000000     4.000000     4.000000     2.000000
50%       2.000000     2.000000     8.000000     8.000000     2.000000
75%       3.000000     3.000000    13.000000    13.000000     5.000000
max       4.000000     4.000000    19.000000    19.000000     8.000000

In [11]:
cluster_1_0    = data[data['Cluster_1'] == 0].fips.tolist()
cluster_1_1    = data[data['Cluster_1'] == 1].fips.tolist()
cluster_1_2    = data[data['Cluster_1'] == 2].fips.tolist()
cluster_1_3    = data[data['Cluster_1'] == 3].fips.tolist()
cluster_1_4    = data[data['Cluster_1'] == 4].fips.tolist()

cluster_2_0    = data[data['Cluster_2'] == 0].fips.tolist()
cluster_2_1    = data[data['Cluster_2'] == 1].fips.tolist()
cluster_2_2    = data[data['Cluster_2'] == 2].fips.tolist()
cluster_2_3    = data[data['Cluster_2'] == 3].fips.tolist()
cluster_2_4    = data[data['Cluster_2'] == 4].fips.tolist()

cluster_3_0    = data[data['Cluster_3'] == 0].fips.tolist()
cluster_3_1    = data[data['Cluster_3'] == 1].fips.tolist()
cluster_3_2    = data[data['Cluster_3'] == 2].fips.tolist()
cluster_3_3    = data[data['Cluster_3'] == 3].fips.tolist()
cluster_3_4    = data[data['Cluster_3'] == 4].fips.tolist()
cluster_3_5    = data[data['Cluster_3'] == 5].fips.tolist()
cluster_3_6    = data[data['Cluster_3'] == 6].fips.tolist()
cluster_3_7    = data[data['Cluster_3'] == 7].fips.tolist()
cluster_3_8    = data[data['Cluster_3'] == 8].fips.tolist()
cluster_3_9    = data[data['Cluster_3'] == 9].fips.tolist()
cluster_3_10    = data[data['Cluster_3'] == 10].fips.tolist()
cluster_3_11    = data[data['Cluster_3'] == 11].fips.tolist()
cluster_3_12    = data[data['Cluster_3'] == 12].fips.tolist()
cluster_3_13    = data[data['Cluster_3'] == 13].fips.tolist()
cluster_3_14    = data[data['Cluster_3'] == 14].fips.tolist()
cluster_3_15    = data[data['Cluster_3'] == 15].fips.tolist()
cluster_3_16    = data[data['Cluster_3'] == 16].fips.tolist()
cluster_3_17    = data[data['Cluster_3'] == 17].fips.tolist()
cluster_3_18    = data[data['Cluster_3'] == 18].fips.tolist()
cluster_3_19    = data[data['Cluster_3'] == 19].fips.tolist()

cluster_4_0    = data[data['Cluster_4'] == 0].fips.tolist()
cluster_4_1    = data[data['Cluster_4'] == 1].fips.tolist()
cluster_4_2    = data[data['Cluster_4'] == 2].fips.tolist()
cluster_4_3    = data[data['Cluster_4'] == 3].fips.tolist()
cluster_4_4    = data[data['Cluster_4'] == 4].fips.tolist()
cluster_4_5    = data[data['Cluster_4'] == 5].fips.tolist()
cluster_4_6    = data[data['Cluster_4'] == 6].fips.tolist()
cluster_4_7    = data[data['Cluster_4'] == 7].fips.tolist()
cluster_4_8    = data[data['Cluster_4'] == 8].fips.tolist()
cluster_4_9    = data[data['Cluster_4'] == 9].fips.tolist()
cluster_4_10    = data[data['Cluster_4'] == 10].fips.tolist()
cluster_4_11    = data[data['Cluster_4'] == 11].fips.tolist()
cluster_4_12    = data[data['Cluster_4'] == 12].fips.tolist()
cluster_4_13    = data[data['Cluster_4'] == 13].fips.tolist()
cluster_4_14    = data[data['Cluster_4'] == 14].fips.tolist()
cluster_4_15    = data[data['Cluster_4'] == 15].fips.tolist()
cluster_4_16    = data[data['Cluster_4'] == 16].fips.tolist()
cluster_4_17    = data[data['Cluster_4'] == 17].fips.tolist()
cluster_4_18    = data[data['Cluster_4'] == 18].fips.tolist()
cluster_4_19    = data[data['Cluster_4'] == 19].fips.tolist()

cluster_5_0    = data[data['Cluster_5'] == 0].fips.tolist()
cluster_5_1    = data[data['Cluster_5'] == 1].fips.tolist()
cluster_5_2    = data[data['Cluster_5'] == 2].fips.tolist()
cluster_5_3    = data[data['Cluster_5'] == 3].fips.tolist()
cluster_5_4    = data[data['Cluster_5'] == 4].fips.tolist()
cluster_5_5    = data[data['Cluster_5'] == 5].fips.tolist()
cluster_5_6    = data[data['Cluster_5'] == 6].fips.tolist()
cluster_5_7    = data[data['Cluster_5'] == 7].fips.tolist()
cluster_5_8    = data[data['Cluster_5'] == 8].fips.tolist()

In [25]:
import numpy as np

df = data.copy()

# df["Recommendation_1"] = np.where(df["Cluster_1"] == 0,np.random.choice(cluster_1_0, size=len(df)),
#                          np.where(df["Cluster_1"] == 1,np.random.choice(cluster_1_1, size=len(df)),         
#                          np.where(df["Cluster_1"] == 2,np.random.choice(cluster_1_2, size=len(df)),   
#                          np.where(df["Cluster_1"] == 3,np.random.choice(cluster_1_3, size=len(df)), 
#                          np.where(df["Cluster_1"] == 4,np.random.choice(cluster_1_4, size=len(df)), '99999')))))



# Create a dictionary to store available Key_values for each state
state_values = {}

# Function to generate new_value
def generate_new_value(row):
    state = row['state']
    key_values = state_values[state]
    available_values = [value for value in key_values if value != row['fips']]
    if available_values:
        new_value = str(np.random.choice(available_values))
    else:
        new_value = None
    return new_value

# Group the DataFrame by 'state' and collect available Key_values
for state, group in df.groupby('state'):
    key_values = list(group['fips'])
    state_values[state] = key_values

# Apply the function to create a new column 'new_value'
df['Recommendation_1'] = df.apply(generate_new_value, axis=1).str.zfill(5)



df["Recommendation_2"] = np.where(df["Cluster_2"] == 0,np.random.choice(cluster_2_0, size=len(df)),
                         np.where(df["Cluster_2"] == 1,np.random.choice(cluster_2_1, size=len(df)),         
                         np.where(df["Cluster_2"] == 2,np.random.choice(cluster_2_2, size=len(df)),   
                         np.where(df["Cluster_2"] == 3,np.random.choice(cluster_2_3, size=len(df)), 
                         np.where(df["Cluster_2"] == 4,np.random.choice(cluster_2_4, size=len(df)), '99999')))))
df["Recommendation_2"] = df["Recommendation_2"].str.zfill(5)


df["Recommendation_3"] = np.where(df["Cluster_3"] == 0,np.random.choice(cluster_3_0, size=len(df)),
                         np.where(df["Cluster_3"] == 1,np.random.choice(cluster_3_1, size=len(df)),         
                         np.where(df["Cluster_3"] == 2,np.random.choice(cluster_3_2, size=len(df)),   
                         np.where(df["Cluster_3"] == 3,np.random.choice(cluster_3_3, size=len(df)), 
                         np.where(df["Cluster_3"] == 4,np.random.choice(cluster_3_4, size=len(df)), 
                         np.where(df["Cluster_3"] == 5,np.random.choice(cluster_3_5, size=len(df)),
                         np.where(df["Cluster_3"] == 6,np.random.choice(cluster_3_6, size=len(df)),         
                         np.where(df["Cluster_3"] == 7,np.random.choice(cluster_3_7, size=len(df)),   
                         np.where(df["Cluster_3"] == 8,np.random.choice(cluster_3_8, size=len(df)), 
                         np.where(df["Cluster_3"] == 9,np.random.choice(cluster_3_9, size=len(df)),
                         np.where(df["Cluster_3"] == 10,np.random.choice(cluster_3_10, size=len(df)),
                         np.where(df["Cluster_3"] == 11,np.random.choice(cluster_3_11, size=len(df)),         
                         np.where(df["Cluster_3"] == 12,np.random.choice(cluster_3_12, size=len(df)),   
                         np.where(df["Cluster_3"] == 13,np.random.choice(cluster_3_13, size=len(df)), 
                         np.where(df["Cluster_3"] == 14,np.random.choice(cluster_3_14, size=len(df)),
                         np.where(df["Cluster_3"] == 15,np.random.choice(cluster_3_15, size=len(df)),
                         np.where(df["Cluster_3"] == 16,np.random.choice(cluster_3_16, size=len(df)),         
                         np.where(df["Cluster_3"] == 17,np.random.choice(cluster_3_17, size=len(df)),   
                         np.where(df["Cluster_3"] == 18,np.random.choice(cluster_3_18, size=len(df)), 
                         np.where(df["Cluster_3"] == 19,np.random.choice(cluster_3_19, size=len(df)),         
                                  '99999'))))))))))))))))))))

df["Recommendation_4"] = np.where(df["Cluster_4"] == 0,np.random.choice(cluster_4_0, size=len(df)),
                         np.where(df["Cluster_4"] == 1,np.random.choice(cluster_4_1, size=len(df)),         
                         np.where(df["Cluster_4"] == 2,np.random.choice(cluster_4_2, size=len(df)),   
                         np.where(df["Cluster_4"] == 3,np.random.choice(cluster_4_3, size=len(df)), 
                         np.where(df["Cluster_4"] == 4,np.random.choice(cluster_4_4, size=len(df)), 
                         np.where(df["Cluster_4"] == 5,np.random.choice(cluster_4_5, size=len(df)),
                         np.where(df["Cluster_4"] == 6,np.random.choice(cluster_4_6, size=len(df)),         
                         np.where(df["Cluster_4"] == 7,np.random.choice(cluster_4_7, size=len(df)),   
                         np.where(df["Cluster_4"] == 8,np.random.choice(cluster_4_8, size=len(df)), 
                         np.where(df["Cluster_4"] == 9,np.random.choice(cluster_4_9, size=len(df)),
                         np.where(df["Cluster_4"] == 10,np.random.choice(cluster_4_10, size=len(df)),
                         np.where(df["Cluster_4"] == 11,np.random.choice(cluster_4_11, size=len(df)),         
                         np.where(df["Cluster_4"] == 12,np.random.choice(cluster_4_12, size=len(df)),   
                         np.where(df["Cluster_4"] == 13,np.random.choice(cluster_4_13, size=len(df)), 
                         np.where(df["Cluster_4"] == 14,np.random.choice(cluster_4_14, size=len(df)),
                         np.where(df["Cluster_4"] == 15,np.random.choice(cluster_4_15, size=len(df)),
                         np.where(df["Cluster_4"] == 16,np.random.choice(cluster_4_16, size=len(df)),         
                         np.where(df["Cluster_4"] == 17,np.random.choice(cluster_4_17, size=len(df)),   
                         np.where(df["Cluster_4"] == 18,np.random.choice(cluster_4_18, size=len(df)), 
                         np.where(df["Cluster_4"] == 19,np.random.choice(cluster_4_19, size=len(df)),         
                                  '99999'))))))))))))))))))))
                                  
df["Recommendation_5"] = np.where(df["Cluster_5"] == 0,np.random.choice(cluster_5_0, size=len(df)),
                         np.where(df["Cluster_5"] == 1,np.random.choice(cluster_5_1, size=len(df)),         
                         np.where(df["Cluster_5"] == 2,np.random.choice(cluster_5_2, size=len(df)),   
                         np.where(df["Cluster_5"] == 3,np.random.choice(cluster_5_3, size=len(df)), 
                         np.where(df["Cluster_5"] == 4,np.random.choice(cluster_5_4, size=len(df)),         
                         np.where(df["Cluster_5"] == 5,np.random.choice(cluster_5_5, size=len(df)),
                         np.where(df["Cluster_5"] == 6,np.random.choice(cluster_5_6, size=len(df)),
                         np.where(df["Cluster_5"] == 7,np.random.choice(cluster_5_7, size=len(df)),
                         np.where(df["Cluster_5"] == 8,np.random.choice(cluster_5_8, size=len(df)), '99999')))))))))

df["Recommendation_3"] = df["Recommendation_3"].str.zfill(5)
df["Recommendation_4"] = df["Recommendation_4"].str.zfill(5)
df["Recommendation_5"] = df["Recommendation_5"].str.zfill(5)

In [26]:
cols = ['Recommendation_1', 'Recommendation_2', 'Recommendation_3', 'Recommendation_4', 'Recommendation_5']
df['Recommendations'] = df[cols].apply(lambda row: ','.join(row.values.astype(str)), axis=1)
df

,fips,county_name,state,attained_bachelors,attained_doctorate,attained_masters,attained_professional,black,black_homeowners,eight_rooms,...,Cluster_2,Cluster_3,Cluster_4,Cluster_5,Recommendation_1,Recommendation_2,Recommendation_3,Recommendation_4,Recommendation_5,Recommendations
0,1001,Autauga County,Alabama,0.164260,0.011713,0.092114,0.013228,0.196844,0.560549,0.104427,...,1,8,1,0,01005,48071,19085,27083,29049,"01005,48071,19085,27083,29049"
1,1003,Baldwin County,Alabama,0.206072,0.013829,0.085716,0.018885,0.086950,0.628894,0.097632,...,1,16,4,1,01085,27095,17089,27171,51073,"01085,27095,17089,27171,51073"
2,1005,Barbour County,Alabama,0.067352,0.006168,0.028897,0.009114,0.472465,0.540083,0.059827,...,2,5,0,2,01089,01105,37181,13081,40003,"01089,01105,37181,13081,40003"
3,1007,Bibb County,Alabama,0.079467,0.004235,0.029644,0.005792,0.218856,0.597826,0.070010,...,0,12,5,2,01071,13249,18175,19189,40037,"01071,13249,18175,19189,40037"
4,1009,Blount County,Alabama,0.093022,0.004426,0.044556,0.007033,0.012669,0.890756,0.097077,...,0,8,1,3,01031,19075,18145,19077,31001,"01031,19075,18145,19077,31001"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,Sweetwater County,Wyoming,0.124101,0.008125,0.046017,0.015674,0.011281,0.454545,0.083029,...,1,6,12,7,56009,12073,30085,56007,48029,"56009,12073,30085,56007,48029"
3139,56039,Teton County,Wyoming,0.382694,0.020896,0.147007,0.028088,0.007119,0.000000,0.064127,...,4,18,6,6,56019,24021,11001,53033,29037,"56019,24021,11001,53033,29037"
3140,56041,Uinta County,Wyoming,0.123177,0.005894,0.042847,0.007632,0.002535,0.275862,0.118608,...,1,17,18,4,56027,53025,23027,48287,48159,"56027,53025,23027,48287,48159"
3141,56043,Washakie County,Wyoming,0.172414,0.003319,0.072100,0.013830,0.000129,NaN,0.136648,...,1,6,12,2,56033,47015,04009,47173,28137,"56033,47015,04009,47173,28137"
3142,56045,Weston County,Wyoming,0.138594,0.008790,0.028209,0.008381,0.003628,0.000000,0.119499,...,0,3,16,5,56039,19145,40129,51097,56045,"56039,19145,40129,51097,56045"

In [27]:
df.to_csv('final_data_recommendations.csv', index = False)